#heading {
    font-size: 40px;
    text-align: center;
    color: brown;
}

#paragraph-1 {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#paragaph-1:hover {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: wavy;
}

#copy-icon {
    color: grey;
    font-size: 20px;
}